.introSection
{
    height: 90vh;
    background: url(../public/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.homeClientWrapper 
{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
}

.homeClientWrapper::-webkit-scrollbar {
    display: none;
}

.homeClientItem
{
    min-width: 300px;
    height: 110px;
}

.homeServicesCard
{
    height: 300px;
}